[submodule "Baseband-guard"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard
[submodule "NoMount"]
	path = NoMount
	url = https://github.com/maxsteeel/nomount/
[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/Justadeayo/sKernelSU
